# Runs a stoa node

[Unit]
Description=Stoa: API server for Agora node
AssertPathExists=/srv/stoa/
Requires=network-online.target local-fs.target
After=network-online.target local-fs.target

[Service]
Type=simple
WorkingDirectory=/srv/stoa/
ExecStart=/usr/bin/docker run -v /srv/stoa/:/stoa/ -e PORT=2828 -t bpfk/stoa
# Reload is not implemented
#ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
User=stoa
Group=nogroup

[Install]
WantedBy = multi-user.target
